$mat-card-margin: 5%;

:host {
    mat-card {
        margin-top: $mat-card-margin;
        margin-left: $mat-card-margin;
        margin-right: $mat-card-margin;
        width: 60%;
        float: left;
        white-space: pre-wrap;
        line-height: 150%;

        &.title {
            margin-left: 22%;
            margin-right: 22%;
            margin-top: 5%;
            width: 55%;

            mat-card-header {
                display: inline-block;
                width: 80%;
            }

            .view-reports {
                display: inline-block;
                width: 20%;
                text-align: right;
            }
        }

        &.description {
            float: right;
        }

        &:last-child {
            margin-bottom: $mat-card-margin;
        }
    }
}

.app-mobile {
    :host {
        mat-card {
            &:first-child {
                margin-top: 1.4%;
            }

            @media (max-width: 400px) {
                width: 80%;
                float: none;

                &.description {
                    float: none;
                }

                &.title {
                    margin-left: $mat-card-margin;
                    margin-right: $mat-card-margin;
                    width: 80%;
                }
            }
        }
    }
}
