:host {
    form {
        height: 79%;

        &.new {
            height: 74%;
        }

        .mat-dialog-content {
            overflow-x: auto;
            height: 100%;

            mat-form-field {
                width: 100%;
            }

            .mat-input-element:disabled {
                color: black;
            }

            .content-head {
                width: 100%;
                display: block;
                margin-top: 20px;
                height: 60%;

                .main-fields {
                    display: inline-block;
                    width: 70%;
                    vertical-align: top;
                }

                .photo {
                    display: inline-block;
                    margin-left: 1%;
                    width: 29%;
                    height: 100%;
    
                    button {
                        width: 100%;
                    }
                }
            }

            .description {

                textarea {
                    min-height: 50px;
                    max-height: 270px;
                }
            }
        }
    }
}