:host {
    form {
        padding-top: 20px;

        mat-form-field {
            width: 100%;
        }

        .mat-input-element:disabled {
            color: black;
        }

        .container {
            width: 100%;

            .main-fields {
                display: inline-block;
                width: 70%;
            }

            .photo {
                display: inline-block;
                width: 30%;
            }
        }
    }
}