<div fxLayout="column" fxFlex [ngClass]="cssClassList">
    <mat-toolbar color="primary">
        <span class="toolbar-section">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item *ngFor="let link of links" [routerLink]="[link.path]">
                    <mat-icon matListIcon>{{link.icon}}</mat-icon>
                    <span>{{link.label}}</span>
                </button>
            </mat-menu>
        </span>
        <span class="toolbar-section">Inno Report System</span>
        <span class="account">
            <button mat-icon-button [matMenuTriggerFor]="accountMenu">
                <mat-icon>person_outline</mat-icon>
            </button>
            <span *ngIf="isUserLoggedIn" class="user">Hello, {{userName}}!</span>
            <mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
                <ng-container *ngIf="!isUserLoggedIn; then showLogin; else showLogout"></ng-container>
                <ng-template #showLogin>
                    <button mat-menu-item (click)="openLoginDialog()">
                        <mat-icon>person_outline</mat-icon>
                        <span>Login</span>
                    </button>
                </ng-template>
                <ng-template #showLogout>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                </ng-template>
            </mat-menu>
        </span>
    </mat-toolbar>

    <div class="content"
         fxFlex
         fxFlex.gt-sm="66"
         fxLayout="row space-around"
         fxLayoutGap="15px"
         fxLayout.sm="column"
         fxLayoutGap.sm="0px">
        <router-outlet fxFlex>
        </router-outlet>
    </div>
</div>
