:host {
    mat-card {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        width: 60%;
        float: left;

        &.description {
            float: right;
        }
    }

    table {
        width: 100%;
    }

    th.mat-sort-header-sorted {
        color: black;
    }
}
