:host {
    mat-card {
        margin: 5%;
        width: 45%;

        &.description {
            float: right;
        }
    }

    .report-list {
        width: 90%;
        margin: 5%;

        table {
            width: 100%;

            mat-header-row {
                cursor: pointer;
            }

            .mat-sort-header-sorted {
                color: black;
                font-size: large;
            }

            mat-row.report-row {
                position: relative;
                cursor: pointer;

                &:hover {
                    background: #f5f5f5;
                }
            }
        }
    }
}
