<app-dialog-header [dialogTitle]="dialogTitle"></app-dialog-header>
<form #loginForm="ngForm" (ngSubmit)="dialogRef.close(loginForm.value)" ngNativeValidate>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput 
                   [(ngModel)]="username" 
                   name="username" 
                   placeholder="Username" 
                   minlength="5" 
                   maxlength="20" 
                   autocomplete="off" 
                   required />
        </mat-form-field>
        <mat-form-field>
            <input matInput 
               [(ngModel)]="password" 
               name="password" 
               placeholder="Enter your password" 
               [type]="hide ? 'password' : 'text'" 
               minlength="5" 
               maxlength="20" 
               required />
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </div>
    <app-dialog-footer (clickSubmit)="validateUser()" 
                       [disabled]="!loginForm.valid" 
                       [submitButtonName]="submitButtonName">
    </app-dialog-footer>
</form>
